@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=UnifrakturMaguntia&display=swap');

@font-face {
    font-family: china;
    src: url(./Assets/NeueMachina-Ultrabold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bungee-regular {

    font-weight: 400;
    font-style: normal;
}

.agu-display {
    font-family: "Agu Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;
}

#Page1 {
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1698235141176-f99862e646be?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    font-family: "Bungee", sans-serif;
}

#main {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #414345, #232526);
    display: flex;
    align-items: center;
    justify-content: center;
}

#Page2 {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #ff0000 0%, #880808 50%, #4a0404 100%);
}

#Page3 {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Page2 h1 {
    font-size: 37vw;
    font-family: "New Rocker", system-ui;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    text-transform: uppercase;
    white-space: nowrap;
    display: inline-block;
}

#string {
    width: 100%;
    height: 200px;
    padding: 0 100px;
}

svg {
    background: black;
    align-self: center;
}

#cursor {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    font-size: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 9;
}

#image {
    height: 30vw;
    width: 60vw;
    background-color: #00d0ff;
    position: relative;
}

#image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay {
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.212);
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
    color: aliceblue;
}

#nav h2 {
    font-size: 40px;
    font-weight: 400;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
}

h2 span {
    display: inline-block;
}

#nav i {
    font-size: 35px;
    font-weight: bolder;
    cursor: pointer;
    align-items: center;
    justify-self: center;
}

#menu {
    height: 100%;
    width: 25%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.36);
    top: 0;
    right: -25%;
    padding: 150px 60px;
}

#menu h4 {
    font-size: 50px;
    font-weight: 300;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}

#menu i {
    position: absolute;
    top: 5%;
    right: 10%;
    background-color: aliceblue;
    border-radius: 50%;
    padding: 5px;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
}

#Page4 {
    width: 100%;
    height: 100%;
    padding: 5vw 0;
    background-color: black;
}

#move {
    background-color: #D8FF04;
    overflow-x: hidden;
    display: flex;
    padding: 3vw 0;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;
    transform: translateX(-100%);
}

.marque h1 {
    font-size: 4.5vw;
    font-family: china;
}

.marque img {
    height: 10vw;
}

#Page5 {
    width: 100%;
    height: 100%;
    padding: 5vw 0;
    background-color: black;
}